<div class="col-xs-12 text-center">

  <h1>メモ編集</h1>

  <%= form_with model: @memo do |f| %>

    <div class="field row">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control input-lg" %>
    </div>
    

    <div class="field row">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control input-lg" %>
    </div>
    
    <div class="field row">
      <%= f.label :画像選択 %>
      <%= f.attachment_field :image %>
    </div>

    <div class="field row">
      <%= f.submit '追加', class: "btn btn-primary" %>
    </div>

  <% end %>

  <div class="memo-edit-back">
    <%= link_to '戻る', :back, class: "btn btn-info" %>
  </div>

</div>
