<h1>フォルダ一覧</h1>

<table class="tabel">
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td>
          <i class="fas fa-tag"></i>
          <%= folder.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @folder do |f| %>
  <%= f.label :新規フォルダ %>
  <%= f.text_field :title %>
  <%= f.submit "作成" %>
<% end %>



<h1>メモ一覧</h1>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <td>タイトル</td>
      <td>内容</td>
    </tr>
  </thead>
  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td>
          <% if memo.checked_by?(memo) %>
            <%= link_to memo_checks_path(memo), method: :delete do %>
              <i class="far fa-check-square"></i>
            <% end %>
          <% else %>
            <%= link_to memo_checks_path(memo), method: :post do %>
              <i class="far fa-square"></i>
            <% end %>
          <% end %>
        </td>
        <td><%= memo.title %></td>
        <td><%= memo.content %></td>
        <td><%= link_to '編集', edit_memo_path(memo) %></td>
        <td><%= link_to '削除', memo_path(memo), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '追加', new_memo_path %>
