<div class="col-xs-12 text-center">

  <h1>メモ追加</h1>

  <%= form_with model: @memo do |f| %>
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title %></div>
    <div><%= f.label :content %></div>
    <div><%= f.text_area :content %></div>
    <div><%= f.submit '追加', class: "btn btn-primary" %></div>
  <% end %>

  <div class="memo-new-back">
    <%= link_to '戻る', memos_path, class: "btn btn-info" %>
  </div>

</div>
